h2 {
  display: flex;
  justify-content: center;
}

#background {
  background: url(https://images.alphacoders.com/201/201831.png);
  background-size:  2600px 850px, cover;
  /* background-position:  500% 0; */
  /* background-position: 0 0; */

  background-repeat: repeat-y repeat-x;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 15%;
  }
  100% {
    background-position: 250% 15%;
  }
  
}

.red {
  color: white;
  font-size: 5px;
  margin: 20px;
}

#searchlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 250px;
  width: 300px;
}

#search {
  border-radius: 8px;
  border-color: transparent;
}

input[type="text"]:focus {
  background-color: lightblue;
}
#pokeball {
  display: inline-block;
  height: 15px;
  width: 15px;
  padding-bottom: 2px;
  padding-right: 3px;
}
#searchbutton {
  background-color: white;
  border-radius: 8px;
  border-color: transparent;
}

#pokebox {
  display: inline-block;
  border: #ffdc00 solid 1px;
}

p {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

.center {
  text-align: center;
  margin: auto;
}
