h2 {
  display: flex;
  justify-content: center;
}

body {
  background: url(https://images.alphacoders.com/201/201831.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}


.red {
  color: white;
  font-size: 5px;
  margin: 20px;
}

#searchlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 250px;;
  width: 300px;
}

#search{
 border-radius: 8px;
 border-color:transparent;
}

input[type=text]:focus {
  background-color: lightblue;
}
#pokeball {
  display: inline-block;
  height: 15px;
  width: 15px;
  padding-bottom: 2px;
  padding-right: 3px;
}
#searchbutton {
 background-color: white;
  border-radius: 8px;
  border-color: transparent;
}

#pokebox {
  display: inline-block;
  border: #FFDC00 solid 1px;

}

p {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.center{
    text-align: center;
    margin: auto;
}

